Package: com.lain.amoleddnevnik
Name: AmoledDnevnik
Version: 1.2.0
Architecture: iphoneos-arm
Description: Amoled theme for Dnevnik
Maintainer: Platon
Author: Platon
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
